*{
  margin:0;
}
html {
  background-color: rgb(222,222,222);
}
.app {
  background-color: rgb(222,222,222);
}

.app__body {
  display:flex;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(222,222,222);
  box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
}

.body__left{
  border-radius: 20px;
  padding:20px;
  color:rgb(97, 69, 81);
  cursor:default;
  box-shadow: 0px 0px 12px -9px rgba(97, 69, 81,0.75);
  
  
}

.body__left > h1 {
  padding:6px;
}

a {
    color:rgb(97, 69, 81);
    text-decoration: none;
}

.body__left > h2 {
  font-size: larger;
  padding:8px;
  

}
.body__left > h4 {
  font-size: small;
  padding:4px;

}

.body__right {
  display:flex;
  
}
.body__right > img{
  background-color:rgb(97, 69, 81);
  border-radius: 100px;
  padding:5px;
  border:100px;
  width: 200px;
  border-radius: 100px;
  align-self: center;
  box-shadow: 0px 10px 100px -9px rgba(97, 69, 81,0.75);
  
}
.body__right > img:hover{
  background-color: rgb(255,190,192);
}
.linker {
  justify-content: space-evenly;
  display:flex;
  padding-top:20px;
  cursor:pointer;
}

.MuiSvgIcon-root:hover {
  color:rgb(255,190,192)
}
